body{
    background: rgb(107, 107, 241);
    font: normal 15pt Arial;
    margin: 0px;
    padding: 0px;
}

header{
    text-align: center;
    color: white;
}

section{
    background-color: white;
    width: 600px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
    margin: auto;
    padding: 15px;
}

footer{
    text-align: center;
    color: white;
    font-style: italic;
}